<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bpms.mydao.CompanyMapper">

	<!-- 查询的条件 -->
	<sql id="findCompanyList_Where">
		LEFT JOIN t_bp_loanorder_and_company tbplac ON tbpc.COM_ID = tbplac.COM_ID AND tbplac.LOAN_ORDER_ID = #{loanOrderId}
		LEFT JOIN t_bp_address tbpa ON tbpa.ADDR_ID = ADDRESS
		<where>
			 tbpc.LOANER_ID = #{loanerId}
			 <!-- 如果是查看详情只查看选中的工作单位的信息 -->
			 <if test="operate!=null and operate=='info'">
			 AND tbplac.LOAN_ORDER_ID IS NOT NULL
			 </if>
 		</where>
	</sql>
	
	<!-- 获取订单信息列表的查询语句SQL -->
	<select id="findCompanyList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT 
			tbpc.COM_ID "comId",         
			tbpc.LOANER_ID "loanerId",     
			tbpc.`NAME` "name",
			tbpc.ADDRESS "address", 
			tbpc.CORP_NATURE "corpNature",
			get_dict_code_func('corp_nature',tbpc.CORP_NATURE) "corpNatureName",
			tbpc.TELE "tele",
			tbpc.FOUNDED_TIME "foundedTime",   
			tbpc.AREA_SIZE "areaSize",
			tbpc.BUSINESS_SCOPE "businessScope",
			tbpc.REG_CAPITAL "regCapital",
			tbpc.EMP_AMOUNT "empAmount",
			tbpc.CREATOR "creator",
			tbpc.CREATE_DATE "createDate",
			tbpc.REG_ID "regId",
			tbpa.PROVINCE_ID "dwProvince",
			tbpa.CITY_ID "dwCity",
			tbpa.AREA_ID "dwArea",
			tbpa.ADDR_DETAILS "dwAddrDetails",
			get_area_name_func('1',tbpa.PROVINCE_ID) "dwProvinceName",
			get_area_name_func(tbpa.PROVINCE_ID,tbpa.CITY_ID) "dwCityName",
			get_area_name_func(tbpa.CITY_ID,tbpa.AREA_ID) "dwAreaName",
			IF(ISNULL(tbplac.LOAN_ORDER_ID),'','checked') "stateChecked"
		FROM t_bp_company tbpc 
		<include refid="findCompanyList_Where"/>
		ORDER BY tbplac.LOAN_ORDER_ID DESC
	</select>

    <!-- 根据条件查询获取订单信息列表的个数查询语句SQL -->
	<select id="findCompanyListCount" resultType="java.lang.Long">
		SELECT
		 COUNT(*)
		FROM t_bp_company tbpc
		<include refid="findCompanyList_Where"/>
	</select>
</mapper>
